.a, .b {
    background-color: black;
}

.a {
    color:white
}

.b {
    color: red;

}

.a .unique {
    font-size: 50px;
    background-color: white;
    color: black;
}

.whatever {
    padding: 5px;
    background-color: red;
}