.flex_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
    gap: 10px;
    min-height: 100vh;
}

.box {
    background-color: lightcoral;
    padding: 20px;
    flex-grow: 1;
    height: 100px;
}